<div class="orderInfoContainer row">
        <div class="col-md-2 orderInfoContainer-image">
          </div>
        <div class="col-md-2 orderInfoContainer-orderDetails">
            <h5 class="orderInfoContainer-orderDetails-productName">
                E140
              </h5>
              <p class="orderInfoContainer-orderDetails-orderStatus orderShipped">
                  Order Shipped
                </p>
                <p class="orderInfoContainer-orderDetails-dateDetails">
                        Order placed on
                  </p>
                  <p class="orderInfoContainer-orderDetails-dateDetails">
                      9th April, 2019
                    </p>
          </div>
          <div class="col-md-5 orderInfoContainer-orderProgress">
                 
                      <span class="orderInfoContainer-orderProgress-progressCircle completed">
                            Order Received
                        </span>
                        <span class="orderInfoContainer-orderProgress-progressCircle completed">
                                Order being Built
                          </span>
                          <span class="orderInfoContainer-orderProgress-progressCircle completed">
                                Order Shipped
                            </span>
                            <span class="orderInfoContainer-orderProgress-progressCircle inComplete">
                                    Order Received
                              </span>
                   
            </div>
            <div class="col-md-2 orderInfoContainer-detailsBtn">
                <button>
                    View Details
                  </button>
              </div>
           
          </div>