<div class="quoteInfoContainer row">
    <div class="col-md-2 quoteInfoContainer-image">
      </div>
    <div class="col-md-2 quoteInfoContainer-quoteDetails">
        <h5 class="quoteInfoContainer-quoteDetails-productName">
        {{product.productName||E140}}

          </h5>
          <p class="quoteInfoContainer-quoteDetails-dateDetails">
                Quote #: {{product?._id}}
            </p>

          <p class="quoteInfoContainer-quoteDetails-quoteStatus quotePending text-capitalize">
              Quote {{pStauts||status}}
            </p>
           
            <p class="quoteInfoContainer-quoteDetails-dateDetails">
                Request sumbitted on
              </p>
              <p class="quoteInfoContainer-quoteDetails-dateDetails">
                  {{createdAt|date}}
                </p>
      </div>
      <div class="col-md-5 quoteInfoContainer-quoteProgress">
             
                  <span class="quoteInfoContainer-quoteProgress-progressCircle"
                        [ngClass]="{completed:getStatus(0),inComplete:!getStatus(0)}">
                      Quote Reqested
                    </span>
                    <span class="quoteInfoContainer-quoteProgress-progressCircle completed"
                         [ngClass]="{completed:getStatus(1),inComplete:!getStatus(1)}">
                        Quote Generated
                      </span>
                      <span class="quoteInfoContainer-quoteProgress-progressCircle completed"
                            [ngClass]="{completed:getStatus(2),inComplete:!getStatus(2)}">
                          Quote Accepted
                        </span>
                        <span class="quoteInfoContainer-quoteProgress-progressCircle inComplete"
                                [ngClass]="{completed:getStatus(3),inComplete:!getStatus(3)}">
                            Order Placed
                          </span>
               
        </div>
        <div class="col-md-2 quoteInfoContainer-detailsBtn">
            <button (click)="navToDetails()">
                {{buttonName||'View Details'}}
              </button>
          </div>
       
      </div>