<div class="quoteInfoContainer row">
    <div class="col-md-2 quoteInfoContainer-image">
      </div>
    <div class="col-md-2 quoteInfoContainer-quoteDetails">
        <h5 class="quoteInfoContainer-quoteDetails-productName">
            E140
          </h5>
          <p class="quoteInfoContainer-quoteDetails-quoteStatus quotePending">
              Quote Pending
            </p>
            <p class="quoteInfoContainer-quoteDetails-dateDetails">
                Request sumbitted on
              </p>
              <p class="quoteInfoContainer-quoteDetails-dateDetails">
                  9th April, 2019
                </p>
      </div>
      <div class="col-md-5 quoteInfoContainer-quoteProgress">
             
                  <span class="quoteInfoContainer-quoteProgress-progressCircle completed">
                      Quote Reqested
                    </span>
                    <span class="quoteInfoContainer-quoteProgress-progressCircle completed">
                        Quote Generated
                      </span>
                      <span class="quoteInfoContainer-quoteProgress-progressCircle completed">
                          Quote Accepted
                        </span>
                        <span class="quoteInfoContainer-quoteProgress-progressCircle inComplete">
                            Order Placed
                          </span>
               
        </div>
        <div class="col-md-2 quoteInfoContainer-detailsBtn">
            <button (click)="navToDetails()">
                View Details
              </button>
          </div>
       
      </div>