<article class="content listContainer">
    <section class="listContainer-bannerSection">
        <ul class="listContainer-bannerSection-nav">
            <li class="text-uppercase listContainer-bannerSection-nav-app-name">
              Excavators<b>inc</b>
              </li>
              <li class="listContainer-bannerSection-nav-label">
                  Equipment
              </li>
              <li class="listContainer-bannerSection-nav-label">
                  Finance
                </li>
                <li class="listContainer-bannerSection-nav-label">
                  Parts services
                </li>
                <li class="listContainer-bannerSection-nav-search">
                    <span></span>
                    <input type="text" class="" placeholder="search">
                </li>
          </ul>
      </section>
      <div class="listContainer-processDetails row w-75 m-auto">
      <div class="listContainer-processDetails-profile col-md-5">
          
                  <img class="listContainer-processDetails-profile-img"  src='/assets/images/profile-large.png'/>
                  <p class="listContainer-processDetails-profile-name">
                      Athur Curry
                      <span class="edit float-right"></span>
                    </p>
                    <p class="listContainer-processDetails-profile-memStatus">
                        Elite Member
                      </p>
                      <p class="listContainer-processDetails-profile-company">
                            Curry Constructions
                        </p>
                        <p class="listContainer-processDetails-profile-updaeInfo">
                            Contact information updated
                          </p>
              </div>
              <div class="listContainer-processDetails-process col-md-5">
                    <div class="row">
                            <div class="listContainer-processDetails-process-progress col-md-3">

                                </div>
                                <div class="col-md-8">
                                        <p class="listContainer-processDetails-process-name">
                                                Progress Tracker
                                              <span class="help float-right"></span>
                                              </p>
                                              <p class="listContainer-processDetails-process-requested">
                                                  {{quoteList.length}} quote(s) Requested
                                                </p>
                                                <p class="listContainer-processDetails-process-reqState">
                                                    <span class="listContainer-processDetails-process-reqState-pending">1 Pending</span>
                                                    <span class="listContainer-processDetails-process-reqState-accepted">2 Accepted</span>
                                                    <span class="listContainer-processDetails-process-reqState-placed">3 Placed</span>
                                                  </p>
                                    </div>
                        </div>
                           
                        
                         
                 
                </div>
              </div>

              <div class="listContainer-quoteOrderList w-75 m-auto">
                  <ul class="listContainer-quoteOrderList-nav">
                      <li [ngClass]="{active:isOrder}" (click)="isOrder=true">
                          your quotes
                        </li>
                        <li [ngClass]="{active:!isOrder}" (click)="isOrder=false">
                            your orders
                          </li>
                    </ul>
                    <div *ngIf="isOrder">
                        <div *ngFor="let product of quoteList">
                                <app-quote-info [product]=product></app-quote-info>
                            </div>
                       
                      </div>
                      <div *ngIf="!isOrder">
                          <div *ngFor="let prd of orderList">
                          <app-ordeer-info [oProduct]="prd"></app-ordeer-info>
                        </div>
                        
                          
                        </div>
                </div>
  </article>
