<article class="content land-container">
    <section class="land-container-banner-section">
        <ul class="land-container-banner-section-nav">
          <li class="text-uppercase land-container-banner-section-nav-app-name">
            Excavators<b>inc</b>
            </li>
            <li class="land-container-banner-section-nav-label">
                Equipment
            </li>
            <li class="land-container-banner-section-nav-label">
                Finance
              </li>
              <li class="land-container-banner-section-nav-label">
                Parts services
              </li>
              <li class="land-container-banner-section-nav-search">
                  <span></span>
                  <input type="text" class="" placeholder="search">
              </li>
        </ul>
        <h1 class="land-container-banner-section-header">
            Introducing the Excavator E140
          </h1>
          <h4 class="land-container-banner-section-header-2">
            create your own machine today. Starting from <b>$36000</b>
          </h4>
          <button class="land-container-banner-section-learn-more-btn" (click)="reset()">
            Learn More
          </button>
      </section>
      <section class="land-container-content">
          <h4 class="land-container-content-header">
              Explore more excavators
            </h4>
          <div class="row">
            <app-product productName="E 140" productImage="product-1" class="col-md-4 p-0"></app-product>
            <app-product productName="E 91" productImage="product-2" class="col-md-4 p-0"></app-product>
            <app-product productName="E 141" productImage="product-1" class="col-md-4 p-0"></app-product>
            <app-product productName="E 93" productImage="product-2" class="col-md-4 p-0"></app-product>
            <app-product productName="E 94" productImage="product-1" class="col-md-4 p-0"></app-product>
            <app-product productName="E 142" productImage="product-2" class="col-md-4 p-0"></app-product>
            </div>
        </section>
  </article>
