<article class="content config-container">
  <section class="config-container-banner">
      <h1 class="text-uppercase config-container-banner-header">
          excavators<b>inc</b>
        </h1>
    </section>
    <section class="config-container-content row">
          <article class="col-md-3 config-container-content-product-info">
              <section class="config-container-content-product-info-img-container">
                  <div class="config-container-content-product-info-img-container-img">
                      <img src="/assets/images/product-1.png" alt="product-image"/>
                    </div>
                    <div class="config-container-content-product-info-img-container-parts-progress">
                        <div class="d-inline-block ml-2">
                                <circle-progress
                                [percent]="circlePercent"
                                [imageSrc]="imageUrl"
                                [imageHeight]="16"
                                [imageWidth]="16"
                              ></circle-progress>
                          </div>
                          <div class="config-container-content-product-info-img-container-parts-progress-parts d-inline-block ml-2">
                              <b>{{this.state>6?'6':this.state}} out of 6</b> parts added
                            </div>
                      </div>
                </section>
               
                <section class="config-container-content-product-info-specs">
                    <h5>
                        Machine Specifications
                      </h5>
                      <ul>
                          <li>
                              Included parts
                              <div class="float-right circle-icon"><span>9</span></div>
                          </li>
                          <li>
                              Added Items
                              <div class="float-right circle-icon"><span>9</span></div>
                          </li>
                          <li>
                              Accessories
                              <div class="float-right circle-icon"><span>9</span></div>
                          </li>
                        </ul>
                  </section>
                  <section class="config-container-content-product-info-price">
                      <h5>
                          Pricing
                        </h5>
                        <ul>
                            <li>
                                <div class="d-inline-block">
                                    List Price
                                   <b class="d-block mt-10"> (MRP) </b>
                                  </div>
                                  <div class="float-right clearfix config-container-content-product-info-price-value">
                                      $26300.50
                                    </div>

                              </li>
                          </ul>
                    </section>
            </article>
            <article class="col-md-9 config-container-content-selection-container">
                <h5>
                  Create your excavator E 140
                </h5>
                <h6>
                    Request a quote in 3 minutes.
                  </h6>
                  <h3>
                     {{title}}
                    </h3>
                    <div>
                        <app-spec [state]="state"></app-spec>
                      </div>
                    <div class="config-container-content-selection-container-btn-container text-center">
                        <button 
                        (click)="decrement()"
                          class="config-container-content-selection-container-btn-container-previous">
                            Previous
                          </button>

                          <button 
                            class="config-container-content-selection-container-btn-container-next"
                            (click)="increment()">
                             {{state>=6?'Request Quote':'Next'}}
                            </button>
                      </div>
              </article>
      </section>
  </article>
